<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated check -->
      <package
            uri="http://www.svv.lu/offline/Check"
            class="lu.svv.offline.check.CheckPackage"
            genModel="models/check.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated check -->
      <package
            uri="http://www.svv.lu/offline/Trace"
            class="lu.svv.offline.trace.TracePackage"
            genModel="models/check.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated check -->
      <package
            uri="http://www.svv.lu/offline/TemPsy"
            class="lu.svv.offline.tempsy.TemPsyPackage"
            genModel="models/check.genmodel"/>
   </extension>

</plugin>
